# Flex/Bison temp
parser.output
parser.cxx
parser.hxx

scanner.cxx
scanner.hxx

stack.hh
location.hh
position.hh

sucuri.tab.*
sucuri.yy*
sucuri

**/*.o

**/*.aux
**/*.log
**/*.toc
**/*.out
**/*.bbl

**/*.zip
**/*.tar.gz
